#Destination /etc/systemd/system/celery.service
[Unit]
Description=Celery daemon
After=network.target

[Service]
#default 100
CPUWeight=10

#absolute limit on how much CPU time is granted even if nothing else is going on
CPUQuota=30%
Type=simple

#Change the user to your OS user eg to ubuntu on Ubuntu AWS EC2
User=your-user
Group=www-data

#PLEASE CHANGE THE WORKING DIRECTORY
WorkingDirectory=/home/your-user/your-working-dir

#CHANGE PATH, AND -A FLAG (app name to be name you defined inside celery.py
#-l loglevel should be CRITICAL for less logging in production
#-P process mode can be threads when using multiprocess on the celery task, other option can be using gevent
ExecStart=/home/your-user/your-working-dir/.venv/bin/celery -A your-app-name worker -l INFO -P threads


[Install]
WantedBy=multi-user.target
