#Destination /etc/systemd/system/celery.service
[Unit]
Description=Celery daemon
After=network.target

[Service]
CPUWeight=10 #default 100
CPUQuota=30% #absolute limit on how much CPU time is granted even if nothing else is going on
Type=simple
User=your-OS-user
Group=www-data

#PLEASE CHANGE THE WORKING DIRECTORY, PATH, AND -A FLAG (app name to be name of your Django folder with celery.py
WorkingDirectory=your-working-dir
ExecStart=/home/your-user/your-working-dir/.venv/bin/celery -A your-app-name worker -l INFO #CRITICAL


[Install]
WantedBy=multi-user.target
