#Destination /etc/systemd/system/gunicorn.service
[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/home/ubuntu/run/gunicorn/pid
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/project

#Replace wsgi:application with exact path with wsgi.py file eg config.wsgi:application
ExecStart=/home/ubuntu/project/venv/bin/gunicorn -c "/home/ubuntu/misc/gunicorn-config.py" wsgi:application

[Install]
WantedBy=multi-user.target
